extends layout

block content
	.page-header
		h3 Races
	h4 This is our current possible races. Select a car, a race and may the code be on your side.
	.row
		form(method='post', role="form").form-horizontal.col-sm-12
			.form-group
				p.col-sm-1.control-label Car:
				.col-sm-2
					select.form-control
						each car in cars
							option #{car.name}
			.form-group
				p.col-sm-1.control-label Race:
				.col-sm-2
					select.form-control
						each race in races
							option #{race.name}