extends layout

block content
	.page-header
		h3 Tutorial
	h4 Welcome to JsRacer, the car race game that teaches you one of the coolest programing languages: JavaScript.
	h4 In this tutorial you will recieve a model car from wich you can start to code on your own. You can download it  <a href="/downloadModelCar">here</a>.