extends layout

block content
	.page-header
		h3 Tutorial
	h4 Welcome to JsRacer, the car race game that teaches you one of the coolest programing languages: JavaScript.
	h4 In this tutorial you will recieve a model car from wich you can start to code on your own. You can download it  <a href="/downloadModelCar">here</a>.
	br
	h4 Next you can open the model in your favourite code editor and then start designing your car.
	h4 Your car will do exactly what you coded it to do so be carefull, as in real life, there are rules on the road!
	br
	h4 When you finished the car design, you will have to upload the file in the <a href="/garage">garage</a> page, click the "Add new car". 
	h4 name your car and select the your_car_filename.js and click the "Upload file" button.
	br
	h4 Next you should test your car on the track, to see how is it behaving. You can do this on the <a href="/races">races</a> page.
	h4 Here you select the car and the race type and then click "Start race".
	br
	h3 Rules
	hr
	h4 Rules that apply to this game (when you are driving, not racing) are the rules that you usually apply in real life when you are driving.
	ul
		li
			h4 Speed limit is: 50 km/h. If you exceed this speed limit the police will chase you down and stop you.
		li
			h4 You have to stop on traffic lights. If you don't stop, the police will stop you.
	h4 When you are racing, on a local track, you won't have to obey driving rules, as you will try to test and get the best out of your car.
	br
	h3 The environement - the road and the power of nature
	hr
	h4 When driving, road quality and weather affect you a lot. For example, you may encounter potholes on the road which will destroy your car if you don't slow down.
	h4 When racing, road quality is perfect, but you will still have to be considerate if the track is wet, frozen, iceberg etc.